@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "'04b03'";
  src: url('/fonts/04b03/04b03.ttf');
}

@font-face {
  font-family: 'omori';
  src: url('/fonts/omori/omori.ttf');
}

@font-face {
  font-family: 'omoriscary';
  src: url('/fonts/omori/omoriscary.ttf');
}

@font-face {
  font-family: 'vcrosd';
  src: url('/fonts/vcrosd/vcrosd.ttf');
}
